<div class="container text-center">
    <h3>Classifica</h3>
</div>

<div class="container" class="row mt-5">
    <div *ngFor="let voto of (punteggi$ | async)" class="text-center col-4">
        <img [src]="getUserImage(voto.name)" alt="" srcset="" width="50" height="50" class="pic"
            (click)="toggleVoto(voto.name)" [ngClass]="{'selected-game': isUtenteSelezionato(voto.name)}">
        <div>
            <p>{{voto.name + " " + voto.score}}</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="d-grid gap-2">
        <button (click)="onVota()" class="btn btn-primary" type="button"
            [attr.disabled]="(votoAbilitato$ | async) ? null : true">Vota</button>
    </div>
</div>

<div class="container text-center mt-3">
    <p class="text-primary" (click)="showVotoInfo()">Come si vota?</p>
</div>

<div class="container">
    <div class="alert alert-primary" role="alert">
        <b>Regole gioco: </b>
        <p>{{regoleGioco}}</p>
    </div>
</div>