<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <div class="" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
                <img [ngClass]="{'selected-game': game === 'brain'}" (click)="showGame('brain')" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-brain-anatomy-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"/>
          </li>
          <li class="nav-item">
                <img [ngClass]="{'selected-game': game === 'drink'}" (click)="showGame('drink')" src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-beer-new-year-kiranshastry-lineal-color-kiranshastry.png"/>
          </li>
          <li class="nav-item">
                <img [ngClass]="{'selected-game': game === 'cards'}" (click)="showGame('cards')" src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-cards-arcade-flatart-icons-lineal-color-flatarticons.png"/>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-game *ngIf="game === 'brain'" gameName = "brain"></app-game>
  <app-game *ngIf="game === 'drink'" gameName = "drink"></app-game>
  <app-game *ngIf="game === 'cards'" gameName = "cards"></app-game>

